/* import main fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* init */
* {
    --title-font: "Space Mono", Helvetica, Arial, sans-serif;
    --body-font: "Patrick Hand", Helvetica, Arial, sans-serif;
}

body{
    font-size: 18px;
    color: #404040;
    background: #E9E9E9;
    font-weight: 400;
}

.d_timeline-title:before,
#back-to-top{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.de-gradient-edge-top{
    background: linear-gradient(180deg, rgba(229, 216, 218,1) 0%, rgba(229, 216, 218,0) 100%);
}

.de-gradient-edge-bottom{
    background: linear-gradient(0deg, rgba(229, 216, 218,1) 0%, rgba(229, 216, 218,0) 100%);
}

.form-border input[type=text], .form-border input[type=email], .form-border textarea, .form-underline input[type=email], .form-border input[type=password], .form-border input[type=date], .form-border select{
    border-color: #404040;
}

h1,h2,h3,h4,h5,h6,
.h1{
    font-weight: 800;
}

h1,
.h1 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2em;
    letter-spacing: -2px;
}

.underline{
    padding-bottom:20px;
    background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1729 149" fill="%23000"><path d="M1689.89 26.59a4479.17 4479.17 0 0 0-89.64-7.41C1354.1.45 1106.56-5.76 859.92 5.93c-227.31-4.25-454.79 8.96-681.36 27.95C121.94 38.9 65.1 40.2 8.38 42.12c-16.57 2.86-5.23 26.39 5.6 14.46 160.76-1.27 331.82-27.38 620.54-34.8A4574.9 4574.9 0 0 0 498.9 36.57C376.43 52.24 253.01 65.21 132.88 94.51c-36.16 8.94-71.67 20.31-106.69 32.95-7.14 4.4-27.74 3.63-24.98 15.62 1.99 7.19 13.63 7.05 18.04 2.59 143.67-54.58 297.49-70.64 448.88-90.24 129.01-16.82 258.61-28.01 388.46-34.27 285.02 6.07 570.13 38.15 848.22 100.65 3.84 1.09 8.24-1.32 9.23-5.24 1.98-7.31-5.66-9.96-11.42-10.6-48.05-10.76-96.18-21.26-144.56-30.43-160.68-28.2-322.86-46.78-485.4-60.19l-2.34-.16c161.55-1.33 323.21 4.35 484.31 15.71 37.11 2.65 125.06 8.85 164.97 13.96a7.58 7.58 0 0 0 8.45-6.41c.94-13.18-23.48-8.77-38.14-11.86Z"></path></svg>');
    background-position: bottom;
    background-repeat: no-repeat;
}

header div#logo.logo-text{
    font-family: var(--body-font);
    letter-spacing: 0;
    font-size: 32px;
    letter-spacing: 1px;
}

header div#logo.logo-text a{
color:var(--dark-color);
}

blockquote.q-big{
    font-size: 40px;
}

header{
    border: none !important;
}

header.smaller{
    background: linear-gradient(180deg, rgba(229, 216, 218,1) 20%, rgba(229, 216, 218,0) 100%);
}

section,footer{
    background: rgba(229, 216, 218);
}
